.DS_Store
**/.DS_Store
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
project
project/*.*

# YARD artifacts
.yardoc
_yardoc
doc/
